{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/events.css') }}">
{% endblock %}

{% block body %}
    <header>
        <h1>Docker Watcher</h1>
        <p class="subtitle">{{ total_events }} recorded event(s).</p>
    </header>
    <main>
        {% include "partials/_filters.html" %}
        {% include "partials/_events_table.html" %}
        {% include "partials/_pagination.html" %}
    </main>
    {% include "partials/_monitoring_options_modal.html" %}
{% endblock %}
